
      button {
    border-radius: 10px;
    background:linear-gradient(rgba(2,0,36,1) 0%, rgba(102,96,96,1) 0%, rgba(255,255,255,1) 100%); ;
    width: 100%;
    height: 80px;
    font-size: 25px;
    color: white;
    
   


    
}
  Button:hover {
      opacity:0.7;
  }

   body{
    background: linear-gradient(#d4d4d4,black);
       background-repeat: no-repeat;
          background-attachment: fixed;
  
   }
    
  

   img {
     width: 70px; 
      
      
  
   }

   .nav {
       
       margin:-10px;
       margin-top: -30px;

       padding-left: 15px;
       background:linear-gradient(#060973,black);
       padding-top: 15px;
       padding-bottom: 15px;
       font-size: 30px;
       border-radius:30px;
        
   }

  
   .center {
  display: flex;
  justify-content: center;
  align-items: center;
}

  .logo{
      vertical-align:middle;

  }
 
 
